<footer class="footer">
    <div class="py-120">
        <div class="container">
            <div class="row gy-4 gy-sm-5 justify-content-between">
                <div class="col-lg-4 pe-lg-5">
                    <div class="footer-item">
                        <a class="footer-item__logo" href="">
                            <img src="assets/images/logo/logo-white.png" alt="img">
                        </a>

                        <p class="footer-item__desc">
                            ThumbLab is an AI-powered thumbnail and visual content creator. Generate stunning YouTube
                            thumbnails, gig images, Reels covers, or branding kits in seconds.
                        </p>

                        <ul class="social-list mt-4">
                            <li class="social-list__item">
                                <a href="https://www.facebook.com/" class="social-list__link" target="_blank">
                                    <i class="fab fa-facebook"></i> </a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.instagram.com/" class="social-list__link" target="_blank">
                                    <i class="fab fa-instagram"></i> </a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.x.com/" class="social-list__link" target="_blank">
                                    <i class="fa-brands fa-x-twitter"></i> </a>
                            </li>
                            <li class="social-list__item">
                                <a href="https://www.linkedin.com/" class="social-list__link" target="_blank">
                                    <i class="fab fa-linkedin-in"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h2 class="footer-item__title h6">Useful Links</h2>
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Home</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="/blog">Blog</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h2 class="footer-item__title h6">Policy Links</h2>
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Privacy Policy</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Terms of Service</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Cookie Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="footer-item">
                        <h2 class="footer-item__title h6">Contact Info</h2>
                        <ul class="footer-contact">
                            <li class="footer-contact__item">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    <p>28 Benin, south of Niger #5 San Francisco</p>
                                </div>
                            </li>
                            <li class="footer-contact__item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <a href="mailto:support@thumblab.com" class="link"> support@thumblab.com </a>
                                </div>
                            </li>
                            <li class="footer-contact__item">
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <a href="tel:+523-00000000" class="link"> +523-00000000 </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrapper mb-120">
                <p class="footer-bottom-text">
                    © 2026 <a href="">AutoDeal-TM</a> All rights reserved.
                </p>
                <p class="footer-bottom-text">
                    Developed by <a href="">viserlab</a>
                </p>
            </div>

            <h1 class="footer-text">AutoDeal</h1>
        </div>
    </div>
</footer>