<footer class="footer">
    <div class="py-120">
        <div class="container">
            <div class="row gy-4 gy-sm-5 justify-content-between">
                <div class="col-lg-4 pe-lg-5">
                    <div class="footer-item">
                        <a class="footer-item__logo" href="">
                            <img src="assets/images/logo/logo-white.png" alt="img">
                        </a>

                        <p class="footer-item__desc">
                            AutoVerse is a trusted car listing platform where you can explore, compare, and buy new,
                            used, and reconditioned cars from verified dealers worldwide.
                        </p>

                        <ul class="social-list mt-4">
                            <li class="social-list__item">
                                <a href="#" class="social-list__link"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="#" class="social-list__link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="#" class="social-list__link"><i class="fa-brands fa-x-twitter"></i></a>
                            </li>
                            <li class="social-list__item">
                                <a href="#" class="social-list__link"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h2 class="footer-item__title h6">Quick Links</h2>
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Home</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Browse Cars</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Dealers</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xsm-6">
                    <div class="footer-item">
                        <h2 class="footer-item__title h6">Resources</h2>
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Car Buying Guide</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">Sell Your Car</a>
                            </li>
                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="footer-item">
                        <h2 class="footer-item__title h6">Contact Info</h2>
                        <ul class="footer-contact">
                            <li class="footer-contact__item">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    <p>123 Auto Street, New York, USA</p>
                                </div>
                            </li>
                            <li class="footer-contact__item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <a href="mailto:support@autoverse.com" class="link">support@autoverse.com</a>
                                </div>
                            </li>
                            <li class="footer-contact__item">
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <a href="tel:+1234567890" class="link">+1 234 567 890</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrapper mb-120">
                <p class="footer-bottom-text">
                    © 2026 <a href="">AutoDeal-TM</a> All rights reserved.
                </p>
                <p class="footer-bottom-text">
                    Developed by <a href="">viserlab</a>
                </p>
            </div>

            <h1 class="footer-text">AutoDeal</h1>
        </div>
    </div>
</footer>