/* ================================= Blog Section Css Start Here ============================= */
.blog {
  position: relative;
  z-index: 1;
}

.blog-item {
  --radius: 20px;
  background: hsl(var(--white));
  overflow: hidden;
  height: 100%;

  &__thumb {
    position: relative;

    .link {
      display: block;
    }

    img {
      border-radius: var(--radius);
    }
  }

  &__title {
    margin-block: 16px;
  }

  &__date {
    font-weight: 500;
    color: hsl(var(--heading-color) / .75);
  }

  &__arrow {
    --size: 48px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: hsl(var(--white));
    height: var(--size);
    width: var(--size);
    border-radius: 12px;
    font-size: 20px;
    --circle-size: 24px;

    &-inner {
      border-radius: 50%;
      background-color: hsl(var(--base));
      height: calc(var(--size) * .85);
      width: calc(var(--size) * .85);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: calc(var(--size) * .15);
      position: relative;
      color: hsl(var(--white));
      z-index: 2;

      i {
        transition: all linear 0.3s;
        transform: rotate(-45deg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -24px;
      bottom: 0;
      width: var(--circle-size);
      height: var(--circle-size);
      background: transparent;
      border-top-left-radius: var(--radius);
      box-shadow: -10px -10px 0 0 hsl(var(--white));
      transform: rotate(180deg);
    }

    &::after {
      content: "";
      position: absolute;
      right: -0px;
      top: -24px;
      width: var(--circle-size);
      height: var(--circle-size);
      background: transparent;
      border-top-left-radius: var(--radius);
      box-shadow: -10px -10px 0 0 hsl(var(--white));
      transform: rotate(180deg);
    }
  }

  &:hover {
    .blog-item__arrow-inner {
      i {
        transform: rotate(0deg);
      }
    }
  }
}

/* ================================= Blog Section Css End Here ================================= */