.cta-wrapper {
    padding: 70px 50px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include sm-screen {
        padding: 48px 30px;
    }

    @include msm-screen {
        padding: 36px 24px;
        border-radius: 16px;
    }

    &::after {
        content: "";
        inset: 0;
        position: absolute;
        background-color: hsl(var(--black) / .4);
        z-index: -1;
        backdrop-filter: blur(4px);
    }

    &-bg {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

.cta-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;

    &__title {
        margin-bottom: 12px;
        color: hsl(var(--white));
        font-weight: 900;
    }

    &__desc {
        color: hsl(var(--white));
        max-width: 520px;
        margin: 0 auto 40px;
    }

    &__note {
        color: hsl(var(--white));
    }

    &__button {
        margin-bottom: 24px;
    }
}