.how-work-wrapper {
    --gap: 24px;
    --count: 4;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    @include md-screen {
        --gap: 16px;
        --count: 2;
    }

    @include xsm-screen {
        --count: 1;
    }
}

.how-work-item {
    --inner-p: 24px;
    border-radius: 16px;
    background: hsl(var(--white));
    padding: var(--inner-p);
    width: calc((100% - (var(--count) - 1) * var(--gap)) / var(--count));
    display: flex;
    flex-direction: column;
    transition: all linear 0.3s;

    @include xl-screen {
        --inner-p: 16px;
    }

    &:hover {
        transform: translateY(-10px);
    }


    &-icon {
        --icon-size: 50px;
        height: var(--icon-size);
        width: var(--icon-size);
        border-radius: 50%;
        font-weight: 500;
        display: grid;
        place-content: center;
        font-size: 20px;
        background: hsl(var(--white));
        border: 1px solid hsl(var(--black) / .05);
        box-shadow: 8px 8px 16px hsl(var(--black) / .05),
            -8px -8px 16px hsl(var(--white) / .8);
        transition: all 0.3s;
        margin-bottom: 48px;

        @include lg-screen {
            margin-bottom: 32px;
        }

    }

    &-title {
        font-family: var(--body-font);
        margin-bottom: 10px;
    }

    &-desc {
        font-family: var(--heading-font);
    }
}