.photo-wrapper {
    --column-width: 360px;
    columns: 4 var(--column-width);
    column-gap: 0px;
    position: relative;
    margin-bottom: 0px;
    margin-inline: -8px;

    @include md-screen {
        --column-width: 280px;
    }

    @include sm-screen {
        --column-width: 260px;
    }
}

.photo-item {
    --gap: 8px;
    padding: var(--gap);
    position: relative;
    isolation: isolate;
    cursor: pointer;

    &-wrapper {
        border-radius: 12px;
        overflow: hidden;
        position: relative;
    }

    &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
        background: linear-gradient(transparent 0%, rgba(25, 27, 38, .88) 100%);
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 12px;

        .thumb {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name {
            font-size: 14px;
            font-weight: 500;
            color: hsl(var(--white));
            transition: all linear 0.3s;
        }

        &:hover {
            .name {
                text-decoration: underline;
            }
        }
    }

    &-rating {
        display: flex;
        align-items: center;
        gap: 4px;
        color: hsl(var(--white));
        font-size: 14px;
        line-height: 1;

        .average {
            font-weight: 600;
        }

        .icon {
            display: flex;
            color: hsl(var(--warning));
        }

        .count {
            margin-left: 6px;
        }
    }
}

body:has(.photo-details) {
    .modal-content {
        overflow: unset;
    }
}

.photo-details {
    &-header {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 12px;
        text-align: left;

        .thumb {
            --size: 64px;
            height: var(--size);
            width: var(--size);
            overflow: hidden;
            border-radius: 50%;
        }

        .content {
            flex: 1;
        }

        .name {
            font-size: 1.125rem;
            color: hsl(var(--heading-color));
            font-weight: 600;
        }

        .count {
            font-size: 15px;
            display: block;
            color: hsl(var(--body-color));
        }
    }

    &-body {
        padding: 32px;
        background-color: hsl(var(--white));
        border-radius: 12px;

        @include md-screen {
            padding: 24px;
        }

        &-wrapper {
            --c-w: 320px;
            --gap: 40px;
            display: flex;
            align-items: flex-start;
            gap: var(--gap);

            @include md-screen {
                --c-w: 280px;
                --gap: 24px;
            }

            @include sm-screen {
                flex-direction: column;
            }

        }
    }

    &-left {
        text-align: center;
        flex: 1;

        @include sm-screen {
            width: 100%;
        }
    }

    &-thumb {
        img {
            border-radius: 12px;
        }
    }

    &-content {
        width: var(--c-w);
        flex-shrink: 0;
        box-sizing: content-box;
        background-color: hsl(var(--white));
        border: 1px solid #ebecf0;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(25, 27, 38, .06);
        position: sticky;
        top: calc(var(--header-h) + 32px);

        @include sm-screen {
            width: 100%;
        }
    }

    &-list {
        padding: 20px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: rgba(25, 27, 38, 0.64);
            font-size: 15px;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

        }
    }

    &-share {
        padding: 16px;
        border-top: 1px solid hsl(var(--border-color));
    }

    &-form {
        padding: 16px;
        border-bottom: 1px solid hsl(var(--border-color));
    }

    &-tag {
        margin-block: 40px;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            flex-wrap: wrap;
        }

        &-title {
            margin-bottom: 12px;
        }

        .tag-item {
            color: hsl(var(--body-color));
            padding: 6px 24px;
            border: 1px solid hsl(var(--border-color));
            border-radius: 24px;

            @include sm-screen {
                font-size: 14px;
                padding: 5px 16px;
            }
        }
    }
}

.modal-preview-xl {
    --bs-modal-width: 1296px;
    width: 95vw;
}