.statistic-content {
    text-align: center;
    position: relative;
    overflow: hidden;

    &-title {
        display: inline-flex;
        position: relative;
        font-size: 120px;
        color: hsl(var(--base));
        text-shadow: 0 10px 15px hsl(var(--base) / 0.5);

        @include lg-screen {
            font-size: 90px;
        }

        @include sm-screen {
            font-size: 72px;
        }

        .tooltip-text {
            position: absolute;
            bottom: 20%;
            right: 0;
            font-size: 14px;
            font-weight: 400;
            color: hsl(var(--black));
            border: 1px solid hsl(var(--border-color));
            background-color: hsl(var(--white));
            padding: 6px 16px;
            border-radius: 32px;
            z-index: 2;
            transform: rotate(12deg);


            @include lg-screen {
                font-size: 13px;
                padding: 4px 12px;
            }
        }
    }
}

.statistics-wrapper {
    display: flex;
}

.statistics-item {
    text-align: center;

    &-count {
        font-weight: 700;
        color: hsl(var(--heading-color));
        margin-bottom: 6px;
        white-space: nowrap;

        @include msm-screen {
            font-size: 20px;
        }
    }

    &-title {
        color: hsl(var(--heading-color));
        font-weight: 500;
        white-space: nowrap;

        @include md-screen {
            font-size: 14px;
        }


        @include msm-screen {
            white-space: wrap;
        }

        @include xsm-screen {
            font-size: 12px;
        }
    }

}