.statistic-content {
    position: relative;

    &-title {
        display: inline-flex;
        position: relative;
        font-size: 120px;
        color: hsl(var(--base));
        text-shadow: 0 10px 15px hsl(var(--base) / 0.5);

        @include lg-screen {
            font-size: 90px;
        }

        @include sm-screen {
            font-size: 72px;
        }

        .tooltip-text {
            position: absolute;
            bottom: 20%;
            right: 0;
            font-size: 14px;
            font-weight: 400;
            color: hsl(var(--black));
            border: 1px solid hsl(var(--border-color));
            background-color: hsl(var(--white));
            padding: 6px 16px;
            border-radius: 32px;
            z-index: 2;
            transform: rotate(12deg);


            @include lg-screen {
                font-size: 13px;
                padding: 4px 12px;
            }
        }
    }
}

.statistics-wrapper {
    --gap: 24px;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

.statistics-item {
    --radius: 16px;
    width: calc(100% / 2 - var(--gap) / 2);
    border-radius: var(--radius);
    padding: 24px;
    background: #f6f6f6;
    position: relative;
    display: block;
    z-index: 1;

    &:first-child,
    &:last-child {
        background: var(--gr-color) !important;

        .statistics-item {
            &-shape {
                display: block;
            }

            &-title,
            &-count {
                color: hsl(var(--white));
            }

            &-icon {
                color: hsl(var(--black));
            }
        }
    }

    &-shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: var(--radius);
        overflow: hidden;
        display: none;
        opacity: 0.2;
    }

    &-icon {
        --size: 48px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: hsl(var(--white));
        height: var(--size);
        width: var(--size);
        border-radius: 12px;
        font-size: 20px;
        --circle-size: 24px;
        display: grid;
        place-content: center;
        color: hsl(var(--base));

        &::before {
            content: "";
            position: absolute;
            left: 25px;
            bottom: -25px;
            width: var(--circle-size);
            height: var(--circle-size);
            background: transparent;
            border-top-left-radius: var(--radius);
            box-shadow: -10px -10px 0 0 hsl(var(--white));
            transform: rotate(90deg);
        }

        &::after {
            content: "";
            position: absolute;
            left: -25px;
            top: 0;
            width: var(--circle-size);
            height: var(--circle-size);
            background: transparent;
            border-top-left-radius: var(--radius);
            box-shadow: -10px -10px 0 0 hsl(var(--white));
            transform: rotate(90deg);
        }
    }

    &-count {
        font-weight: 700;
        color: hsl(var(--heading-color));
        margin-bottom: 6px;
        white-space: nowrap;

        @include msm-screen {
            font-size: 20px;
        }
    }

    &-title {
        color: hsl(var(--heading-color));
        font-weight: 500;
        white-space: nowrap;

        @include md-screen {
            font-size: 14px;
        }


        @include msm-screen {
            white-space: wrap;
        }

        @include xsm-screen {
            font-size: 12px;
        }
    }
}